/* reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: #F5F5F5;
  line-height: 3rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #FFFFFF;
}

p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

/* header */

.header-container {
  background-color: #FF6B1A;
  height: 13rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container-logo {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.header-container-logo img {
  width: 2.4rem;
}

nav {
  background-color: #1A1A1A;
  height: 7.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.3rem;
}

.nav-item {
  background-color: #FF6B1A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.7rem 0.7rem 1.3rem;
  border-radius: 0.8rem;
}

.nav-item img {
  width: 1.7rem;
}

.nav-item p {
  font-size: 1.9rem;
  font-weight: 500;
}

/* main */
/* hero section  */

.hero-section {
  background-color: #1A1A1A;
  height: 37.7rem;
  display: grid;
  place-items: center;
}

.hero-section-logo {
  position: absolute;
  width: 18rem;
}

.hero-section-overlay {
  position: absolute;
  display: grid;
  place-items: center;
  padding: 0 2.4rem;
  background-color: #2A2A2AE5;
  height: 37.7rem;
  width: 100%;
}

.hero-section-overlay h2 {
  margin-bottom: 1.5rem;
  align-self: flex-end;
}

.hero-section-overlay p {
  font-size: 1.6rem;
  font-weight: 500;
  align-self: flex-start;
  text-align: center;
}

/* footer */

footer {
  background-color: #1A1A1A;
  height: 9rem;
  display: grid;
  place-items: center;
}

footer p {
  font-size: 1.2rem;
}